@model Category
<form asp-action="CreateCategory" asp-controller="Home" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>
    <button type="submit" class="btn btn-info">Create</button>
</form>